.testimonials {
    width: 80%;
    height: auto;
    margin: auto;
    &__container {
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    &__left-container {
        text-align: center;
    }
    &__quote-container {
        width: 80%;
        margin: 50px auto;
        padding: 30px;
        background: #f5f5f5;
        border-radius: 10px;
    }
    &__quote {
        font-family: 'Proxima Nova', sans-serif;
        color: black;
        font-size: 22px;
        text-transform: uppercase;
    }
    &__quote-author {
        font-family: 'PT Sans', sans-serif;
        font-weight: light;
        color: rgba(0,0,0,0.7);
    }
    &__description-container {
        width: 80%;
        margin: 100px auto;
    }
    &__description {
        font-size: 24px;
        font-family: 'Sora', sans-serif;
    }
    &__right-container {
        width: 80%;
        margin: 30px auto;
    }   
    &__testimonial {
        background: #222C31;
        color: rgba(255,255,255,0.7);
        margin: 20px auto;
        padding: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px 5px #333;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;

        &-quote-author {
            font-family: 'Roboto', sans-serif;
            font-style : italic;
            color: #f5f5f5;
        }
    }
  
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .testimonials {
        &__container {
            display: block;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
    .testimonials {
        &__container {
            display: block;
        }
        &__quote-container {
            width: 80%;
            margin: 50px auto;
            padding: 20px;
            background: #f5f5f5;
            border-radius: 10px;
    
        }
        &__quote {
            font-family: 'Proxima Nova', sans-serif;
            color: black;
            font-size: 16px;
            text-transform: uppercase;
        }
        &__quote-author {
            font-family: 'PT Sans', sans-serif;
            font-weight: light;
            color: rgba(0,0,0,0.7);
        }
        &__description-container {
            width: 80%;
            margin: 50px auto;
        }
        &__description {
            font-size: 18px;
            font-family: 'Sora', sans-serif;
        }
        &__right-container {
            width: 80%;
            margin: 30px auto;
        }
       
        &__testimonial {
            background: #222C31;
            color: rgba(255,255,255,0.7);
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 3px 3px 5px #333;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 16px;
    
            &-quote-author {
                font-family: 'Roboto', sans-serif;
                font-style : italic;
                color: #f5f5f5;
            }
        }
    }
}